
<div id="login_window" style="display: block;
position: absolute;
opacity: 1;
z-index: 11000;
left: 50%;
margin-left: -238px;
top: 20px;width: 20%;
text-align: center;">
<a class="close_window" href="#">x</a>
	<%= form_tag create_session_path ,:id=>"loginform" do %>

<%= label_tag :email %><br />
<%= text_field_tag :email, params[:email] ,:class=>"input" %><br />

<%= label_tag :password %><br />
<%= password_field_tag :password , '',:class=>"input"  %>

<p class="button"><%= submit_tag 'Login' ,:class=>"submit"%></p>
<% end %>
<%= link_to "Forgot Password" ,"#" ,:id=>"mylink"%>
	
	</div>



<div id="mani" style="margin-left: 100px;">
	
	<box>
		<table>
		<tr>
				<td>
				<div id="how_to_use">
		<h2>How to use Look Shelf</h2>
		<video width="320" height="240" controls autoplay>
  <source src="movie.ogg" type="video/ogg">
  <source src="movie.mp4" type="video/mp4">
  <object data="movie.mp4" width="320" height="240">
    <embed width="320" height="240" src="movie.swf">
  </object>
</video>
		
	</div>
				</td>
				<td>
				<% if @user.errors.any? %>
			<div  class="error_messages">
				<h2>Form is invalid</h2>
				<ul>
				<% for message in @user.errors.full_messages %>
				<li><%= message %></li>
				<% end %>
				</ul>
			</div>
				<% end %>
				 <div id="sign_up_window" style="align:right;margin-left: 50px;">
						<%= form_for@user,:as=>:user ,:method=>"post" ,:url=>create_user_path,:id=>"registrationForm" do |f| %>
							
						<div id="sign_up_window1">
						<table> 
							
			<tr>
				<td>Your Name
					<div class="input_div">
						<%=f.text_field :name ,:placeholder=>"Some text" ,:class=>"input",:autocomplete=>"off"%>
					</div>
					
				</td>
				
			</tr>
			<tr>
				<td>User Name
					<div class="input_div">
						<%=f.text_field :username , :class=>"user_name" ,:class=>"input",:autocomplete=>"off" %>
						<div class="check"></div>
					</div>
					
				</td>
				
		</tr>
			
			<tr>
				<td>Your Email
					<div class="input_div">
						<%= f.text_field :email ,:class=>"input", :autocomplete=>"off"%>
					</div>
					
				</td>
				
			</tr>
			<tr>
				<td>Password
					<div class="input_div">
						<%= f.password_field :password ,:class=>"input" %>
					</div>
					
				</td>
				
			</tr>
			 
			<tr>
				<td>
				<input type="button" value="submit" id="btnNext" class="submit" />	
				</td>
				
			</tr>
			
			</table>
	
						</div>
						<div id="sign_up_window2">
							<h3>Step 2</h3>
						<table> 
			<tr>
				<td>Your Address
					<div class="input_div">
						<%=f.text_field :shipping_address ,:class=>"input"%>
					</div>
					
				</td>
				
			</tr>
			<tr>
				<td>Zip Code
					<div class="input_div">
						<%=f.text_field :zip_code ,:class=>"input" %>
					</div>
					
				</td>
				
		</tr>
			
			<tr>
				<td>City
					<div class="input_div">
						<%= f.text_field :city ,:class=>"input"%>
					</div>
					
				</td>
				
			</tr>
			<tr>
				<td>Phone
					<div class="input_div">
						<%= f.text_field :phone ,:class=>"input"%>
					</div>
					
				</td>
				
			</tr>
			<tr>
				<td>Photo
					<div class="input_div">
						<%= f.file_field :photo ,:class=>"input" ,:onchange=>'Test.UpdatePreview(this)' %>
					</div>
					
				</td>
				
			</tr>
			<tr>
				<td>
					<div class="borderDiv">
		    			<div style="position:relative;width:300px;height:250px" id="cropImage"><img src="" id="preveiwphoto" height="250" width="300"/></div>
	     </div>
					 
					 <%= f.hidden_field :width, :value=>"" %>
					 <%= f.hidden_field :height, :value=>"" %>
					 <%= f.hidden_field :marginleft, :value=>"" %>
					 <%= f.hidden_field :marginright, :value=>"" %>

					
				</td>
				
			</tr>
			<tr>
				<td>
					Preview
		<div class="frame" style="margin: 0 1em; width: 100px; height: 100px; margin-bottom: 30px;">
      	 
      	 <div id="preview" style="width:100px;height:100px; overflow:hidden;">
        	<img src="" style="width: 100px; height: 100px;" id="preveiwpt">
      	 </div>
      	 
    	</div>
				</td>
			</tr>
			
			<tr>
				<td>
				<input type="submit" value="submit" class="submit" />	
				</td>
				
			</tr>
			
			</table>
	
						</div>
							

						<%end%>
		
		
		
	</div>
				</td>
			</tr>
		</table>
		
	
	
	</box>
</div>


<script type="text/javascript">
	
	jQuery(document).ready(function($){
				
		var checkUsername;
		var  validator = $("#new_user").validate( {

        rules:{
        	 "user[name]": "required",
        	 "user[username]":"required",
        	  "user[phone]": "required",
            "user[password]": {
      		required: true,
    	  minlength: 6
	    },
            "user[email]": "required email"
        },
        messages:{
            "user[name]": "Name Required",
             	 "user[username]":"User Name Required",
            "user[phone]": "Phone Number Required",
             "user[password]": {
                required: "Enter Password",
                minlength: "Enter Minimum 6 character"
              },
           "user[email]": {
                required: "Enter email",
                email: "Enter valid email"
            	}
        	}
        	
    	});
    	
    	$('#new_user').blur(function(){
		    validator.validate();
		});
		
		$('#sign_up_window2').hide();
		$('#btnNext').click( function(){
			if($('#new_user').valid() && checkUsername ){
				$('#sign_up_window2').show();
				$('#sign_up_window1').hide(); $("#login_window").hide();
			}else{
				
			}
			
		});
		
		   $('.close-green').click(function(){
  	
  	        $('#message-green').hide();
  	
           });
		
	
	
	
	$(function()
 {
  $('#user_username').keyup(function()
  {
  var checkname=$(this).val();
  

  if(checkname!=''){
  $('.check').show();


 var uname = checkname;
  $.ajax({

          type: "POST",         
          data: {Uname:uname},
           url: "/user/check_username",
          dataType: "JSON",
         
          success: function(result){

                         
                           
               if(result){
					  $('.check').html('This Username Is Already Taken');

                      $(".check").css("color","red");
                      
                    
                      $('.check').addClass("red");
                      $(".user_name").removeClass("white");
                      $(".user_name").addClass("yellow");
						
                

               }else{

                       $('.check').html('This Username Is Avaliable');
						
						checkUsername=true;
                       $(".check").css("color","green");
                    
                       $(".user_name").removeClass("yellow");
                       $(".user_name").addClass("white");
            }
         }

      });

   }else{

       $('.check').html('');

       }

  });
  
 });
 
  $("input").on("keydown", function (e) {
       return e.which !== 32;
  });
    
	
   

});



</script>
